name: PlantUML Diagrams

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Generate Diagrams
      run: |
        docker run --rm -v ${{github.workspace}}/Fitlife/diagrams:/diagrams \
               plantuml/plantuml /diagrams/context/"*.puml"
        docker run --rm -v ${{github.workspace}}/Fitlife/diagrams:/diagrams \
               plantuml/plantuml /diagrams/container/"*.puml"
        docker run --rm -v ${{github.workspace}}/Fitlife/diagrams:/diagrams \
               plantuml/plantuml /diagrams/component/"*.puml"
        docker run --rm -v ${{github.workspace}}/Fitlife/diagrams:/diagrams \
               plantuml/plantuml /diagrams/code/"*.puml"

    - name: Commit Diagrams
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add diagrams/**/*.png
        git commit -m "Automated diagram generation"
        git push origin main
      if: success()
